{% extends 'base.html' %}

{% block title %}{{ quiz.title }} - SmartQuiz{% endblock %}

{% block content %}
<h1 class="page-title"><i class="bi bi-file-earmark-text"></i> {{ quiz.title }}</h1>

<div class="row mt-4">
    <div class="col-md-8">
        <div class="container-main">
            <p>{{ quiz.description }}</p>
            <p><small class="text-muted">By: {{ quiz.created_by.first_name }} {{ quiz.created_by.last_name }}</small></p>
            <p>Questions: {{ questions.count }}</p>
        </div>
    </div>
</div>

{% endblock %}
